<h1>Contact</h1>
<nav>
<%= link_to 'Home', pages_index_path, :id => 'home' %>
<%= link_to 'About', pages_about_path, :id => 'about' %>
<%= link_to 'Work', pages_work_path, :id => 'work' %>
<%= link_to 'Contact', pages_contact_path, :id => 'contact' %>
</nav>
<p>Please fee free to reach out, we'd love to hear from you</p>

<%= form_tag url_for(:action => 'send_email'), :remote => true, :id => 'contact_form' do %>
      <div id="tag1">First Name:</div>
      <%= text_field_tag :first_name, '', :name => "user[first_name]", :size => "33" %><br>
      <div id="tag1">Last Name:</div>
      <%= text_field_tag :last_name, '', :name => "user[last_name]", :size => "33" %><br>
      <div id="tag1">Email Address:</div>
      <%= email_field_tag :email_address, '', :name => "user[email_address]", :size => "33" %><br>
      <div id="tag1">How can I help you?</div>
      <%= text_area_tag :notes, '', :name => "user[notes]", :size => "29x8" %><br>
      <%= submit_tag "Submit", :id => "submit_form_button" %>
<% end %>