<!DOCTYPE html>
<html>
<head>
  <title>Complete Custom Services</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Patrick+Hand|Architects+Daughter|Glegoo|Josefin+Slab|Unica+One|Keania+One|Monda' rel='stylesheet' type='text/css'> 
  <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47912112-1', 'ccsconst.com');
  ga('send', 'pageview');

</script>
</head>
<body>
<%= render :partial => "pages/navigation" %> 
<%= yield %>
<%= render :partial => "pages/footer" %>
</body>
</html>
