<!DOCTYPE html>
<html>
<head>
  <title>Complete Custom Services</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Patrick+Hand|Architects+Daughter|Glegoo|Josefin+Slab|Unica+One|Keania+One|Monda' rel='stylesheet' type='text/css'> 
</head>
<body>
<%= render :partial => "pages/navigation" %> 
<%= yield %>
<%= render :partial => "pages/footer" %>
</body>
</html>
